COEFF01 RCDATA "COEFF01.dat"
COEFF02 RCDATA "COEFF02.dat"
COEFF03 RCDATA "COEFF03.dat"
COEFF04 RCDATA "COEFF04.dat"
COEFF05 RCDATA "COEFF05.dat"
COEFF06 RCDATA "COEFF06.dat"
COEFF07 RCDATA "COEFF07.dat"
COEFF08 RCDATA "COEFF08.dat"
COEFF09 RCDATA "COEFF09.dat"
COEFF10 RCDATA "COEFF10.dat"
COEFF11 RCDATA "COEFF11.dat"
COEFF12 RCDATA "COEFF12.dat"

FOF2CCIR01 RCDATA "FOF2CCIR01.dat"
FOF2CCIR02 RCDATA "FOF2CCIR02.dat"
FOF2CCIR03 RCDATA "FOF2CCIR03.dat"
FOF2CCIR04 RCDATA "FOF2CCIR04.dat"
FOF2CCIR05 RCDATA "FOF2CCIR05.dat"
FOF2CCIR06 RCDATA "FOF2CCIR06.dat"
FOF2CCIR07 RCDATA "FOF2CCIR07.dat"
FOF2CCIR08 RCDATA "FOF2CCIR08.dat"
FOF2CCIR09 RCDATA "FOF2CCIR09.dat"
FOF2CCIR10 RCDATA "FOF2CCIR10.dat"
FOF2CCIR11 RCDATA "FOF2CCIR11.dat"
FOF2CCIR12 RCDATA "FOF2CCIR12.dat"
